/*CABEÇALHO*/

.cabecalho__container {
    display: flex;
    /*permite que os elementos do conteiner fiquem um do lado do outro*/
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}

.cabecalho__pesquisar__item{
    display: none;
}

/*RODAPÉ*/

.rodape__container {
    display: flex;
    flex-direction: column;
    /* permite quebra de coluna ou linha flex wrap*/
    flex-wrap: wrap;
}

    /* CABEÇALHO */
@media(min-width: 834px) {
    .cabecalho__pesquisar__item {
        display: block;
    }
    /* RODAPÉ */
    .rodape__container {
        justify-content: space-between;
    }
}
